body {
  background: linear-gradient(to bottom, #ffff00 -2%, #00ff99 105%);
  box-sizing: border-box;
  margin: 0%;
  height: 100vh;
  padding: 0%;
  font-family: "Josefin Sans", sans-serif;
}
.heading_style {
  padding: 30px 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: grey;
  /*background-color: wheat;*/
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.cards {
  width: 100%;
  height: auto;
  padding: auto;
}
.card {
  margin: 6%;
  margin-bottom: 79px;
  transition: all cubic-bezier(0.175, 0.885, 0, 1);
 /*background-color: wheat;*/
  width: 21%;
  height: 240px;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}
.card_img{
  width: 100%;
<<<<<<< HEAD
  margin-top: -60px;
  height: 230px;
=======
  height: 250px;
>>>>>>> 669b5344948df5bd96fd2a2fe7a8bf409568f260
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.card_info{
  background: linear-gradient(to bottom, #ffff00 -2%, #00ff99 105%);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
 /*background-color: wheat;*/
  text-align:center;
<<<<<<< HEAD
  word-wrap: break-word;
  height: 110px;
  padding: 3px;
=======
  height:120px;
  padding-bottom: 10px;  
>>>>>>> 669b5344948df5bd96fd2a2fe7a8bf409568f260
}
.card_category{
  font-family: "Relaway",sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: grey;
  /*background-color: wheat;*/
}
.card_title{
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-family:"Relaway",sans-serif ;
  /*background-color: wheat;*/
  text-transform: capitalize;
}
/*button{
  padding: 5px 8px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color:black;
  background-color: wheat;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}*/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color:#ff672f;
  border: none;
  color: #FFFFFF; 
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.div {
  width: 100%;
  text-align:center ;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}
h1 {
  padding: 20px 20px;
  
  color: linear-gradient(to top, #339933 -2%, #000066 105%);
  border-radius: 20px;
  text-align:center;
}

